<div class="artworks-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path('banner_3_home.jpg') %>')">
  <h1 class="artworks-banner-title">Discover our artists.</h1>
</div>

<div class="background-container">
  <div class="content">
    <div class="container">
      <div class="d-flex flex-wrap align-items-start">
        <% @artists.each do |artist| %>
          <%= link_to artist_path(artist.user.username), style: 'text-decoration: none' do %>
            <div class="account-collector">
              <div class="account-picture">
                <% if artist.user.photo.attached? %>
                  <%= cl_image_tag artist.user.photo.key, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}]%>
                <% else %>
                  <img src='https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png'>
                <% end %>
              </div>
              <div class="account-content">
                <h3 class="name"><%= artist.user.first_name %> <%= artist.user.last_name %></h3>
                <h4 class="title">@<%= artist.user.username %></h4>
              </div>
              <div class="edit-btn">
                <h4><%= artist.location %></h4>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
