  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 col-sm-10">
        <div class="d-flex flex-column artist-title">
          <h2> <strong> <%= @artist.user.username.upcase%></strong> </h2>
          <div class="image-wrap">
            <% if @artist.user.photo.attached? %>
            <%= cl_image_tag @artist.user.photo.key %>
            <% else %>
            <img class="artist-card" src='https://source.unsplash.com/800x450/?people'>
            <% end %>
            <h2>  <%= @artist.user.first_name %> <%= @artist.user.last_name %></h2>
            <h3><i class="fas fa-globe-europe"></i> <%= @artist.location.upcase %></h3>
            <h3> <i class="fas fa-graduation-cap"></i><%= @artist.artschool %></h3>
          </div>
        </div>
        <p></p>
        <div class="box center-btn">
          <a href="#" class="btn btn-white btn-animation-1"> Follow me <i class="fas fa-user-plus"></i></a>
        </div>
        <p></p>
        <div class="card artist-info">
         <h3> STATS </h3>
         <h4><%= pluralize rand(1..20), "Artwork" %> </h4>
         <h4><%= pluralize rand(1..500), "Follow" %> </h4>
         <h4><%= pluralize rand(1..200), "Like" %> </h4>
       </div>
       <br>
       <p>
       </div>
       <div class="col-md-8 col-sm-10">
        <div class="card artist-info">
          <h3> ABOUT ME </h3>
          <h4><%= @artist.vita %></h4>
        </div>
        <p>
          <div class="container">
            <h3 class="center-btn"> MY ARTWORKS </h3>
            <div class="row">
              <div class="col-8">
                <div class="card-container d-flex flex-wrap">
                  <div class="d-flex flex-wrap">
                    <% @artist.artworks.each do |artwork| %>
                    <%= render "artworks/card", artwork: artwork %>
                    <% end %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



    i

