
<div class="container">
  <div class="card">
<%= @artist.nationality %>
<%= @artist.artschool %>
<%= @artist.vita %>
<%= @artist.date_of_birth %>
<%= @artist.artschool %>
<%= @artist.user.first_name %>
<%= @artist.user.last_name %>
</div>
</div>
