<div class="card-wrapper" style="position: relative">
  <%= link_to artist_artwork_path(artwork.artist.user.username, artwork) , style:'text-decoration: none;' do%>
    <div class="card-item" >
      <%= cl_image_tag artwork.photos.first.key, class:"artwork"%>
    </div>
    <div class="card-info">
      <div class="d-flex justify-content-between" style= "margin-bottom: 16px;">
        <h4 class="artwork-abc"><%= artwork.name.capitalize %>, <%= artwork.year.strftime("%Y") %></h4>
        <h4 class="card-price"><%= humanized_money_with_symbol(artwork.price) %></h4>
      </div>
    <h4 class="card-artist"><%= artwork.artist.user.first_name %> <%= artwork.artist.user.last_name %></h4>
    <h4 class="card-dimensions"><%= artwork.medium.name %>, </h4>
    <h4 class="card-dimensions">W <%= artwork.width %> cm x H <%= artwork.height %> cm</h4>
    </div>

    <% if user_signed_in? && artwork.artist == current_user.account && current_page?(profile_path)%>
    <div class="card-artist-btn d-flex justify-content-center">
        <%= link_to "Edit", edit_artist_artwork_path(artwork.artist, artwork), class:"mr-3" %>
        <%= link_to artist_artwork_path(artwork.artist, artwork), method: :delete do %><i class="fas fa-trash"></i><% end %>
    </div>
  <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.collector? %>
      <div id="heart">
        <%= link_to like_unlike_path(artwork.id), remote: true, method: 'post' do %>
          <input type="checkbox" id="checkbox-<%= artwork.id  %>" class="heart-checkbox" <%= "checked" if current_user.account.favorite_artworks.pluck(:artwork_id).include?(artwork.id) %>/>
          <label for="checkbox-<%= artwork.id  %>">
            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
              <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

                <g id="grp7" opacity="0" transform="translate(7 6)">
                  <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                  <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                </g>

                <g id="grp6" opacity="0" transform="translate(0 28)">
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                </g>

                <g id="grp3" opacity="0" transform="translate(52 28)">
                  <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                  <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                </g>

                <g id="grp2" opacity="0" transform="translate(44 6)">
                  <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                  <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp5" opacity="0" transform="translate(14 50)">
                  <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp4" opacity="0" transform="translate(35 50)">
                  <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                  <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                </g>

                <g id="grp1" opacity="0" transform="translate(24)">
                  <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                  <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                </g>
              </g>
            </svg>
          </label>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
