<div class="container">
  <div class="row row-margin-top">

    <div class="form-background w-100 d-flex flex-column align-items-center">
      <div class="form-group">
        <%= simple_form_for(@artwork, url: artist_artwork_path(@artist, @artwork), method: :patch) do |f| %>
        <%= f.input :name %>
        <%= f.input :year %>
        <%= f.input :description %>
        <%= f.input :width %>
        <%= f.input :height %>
        <%= f.input :depth %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file %>
        <%= f.input :medium %>
        <%= f.input :category %>
        <%= f.submit "Create New Artwork", class: "btn-margin btn-ghost", method: :patch %>
        <% end %>
      </div>
    </div>
  </div>
</div>
