  <div class="artworks-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path('more-artworks-img.jpeg') %>')">
    <h1 class="artworks-banner-title">Discover our Selection of Artworks from our Young Artists</h1>
  </div>

  <div class="container-fluid">

  <div class="form-filter">
    <%= form_tag artworks_path,   method: :get do %>
      <div class="d-flex justify-content-center align-items-center">

        <div class="m-3">
          <div><%= label_tag(:category, "Category:") %></div>
          <div><%= select_tag(:category, options_for_select(['Painting', 'Sculpture', 'Photography', 'Print', 'Drawing', 'Mixed Media'], params[:category]), prompt: '') %></div>
        </div>

        <div class="m-3">
          <div><%= label_tag(:medium, "Medium:") %></div>
          <div><%= select_tag(:medium, options_for_select(['Oil paint', 'Watercolour', 'Pencil', 'Etching', 'Lithography', 'Bronze', 'Marble', 'Wood', 'Iron', 'Plastic', 'Acrylic paint', 'Chalk', 'Pastel'], params[:medium]), prompt: '') %></div>
        </div>

        <div class="m-3">
          <!-- <div><%= label_tag(:price_min) %></div> -->
          <div><%= text_field_tag :price_min, nil, placeholder: "Minimum Price" %></div>
        </div>

        <div class="m-3">
       <!--    <div><%= label_tag(:price_max) %></div> -->
          <div><%= text_field_tag :price_max, nil, placeholder: "Maximum Price" %></div>
        </div>

        <div class="m-3"><%= submit_tag "Find your Artwork!", class: "button" %></div>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col-8">
      <div class="card-container d-flex flex-wrap">
        <div class="d-flex flex-wrap">
          <% @artworks.each do |artwork| %>
              <%= link_to artist_artwork_path(artwork.artist, artwork) , style: 'text-decoration: none' do%>
              <div class="card-wrapper">
                <div class="card-item">
                  <%= cl_image_tag artwork.photos.first.key, class:"artwork"%>
                </div>
                <div class="card-info">
                  <div class="d-flex justify-content-between">
                    <h4 class="artwork-title"><%= artwork.name.capitalize %></h4>
                    <h4 class="card-price"><%= artwork.price %> €</h4>
                  </div>
                  <h4 class="card-dimensions"><%= artwork.medium.name %>, W <%= artwork.width %> cm x H <%= artwork.height %> cm</h4>
                  <h4 class="card-artist"><%= artwork.artist.user.first_name %> <%= artwork.artist.user.last_name %></h4>
                </div>
              </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
