<div class="container">
  <div class="row row-margin-top">

    <div class="form-background w-100 d-flex flex-column align-items-center">
      <div class="form-group">
        <%= simple_form_for([@artist, @artwork]) do |f| %>
        <%= f.input :name %>
        <%= f.input :year %>
        <%= f.input :description %>
        <%= render "tags_form" %>
        <%= link_to 'More tags', '#', class:"tag-link" %>
        <%= f.input :width %>
        <%= f.input :height %>
        <%= f.input :depth %>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.association :medium %>
        <%= f.association :category %>
        <%= f.submit "Create New Artwork", class: "btn-margin btn-ghost" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

