<h1 class="text-center mb-4"><%= @artwork.name.capitalize %></h1>
<div class="artwork-info">
  <h3> <%= @artwork.name %> </h3>
  <ul>
    <li><%= @artwork.category.name.capitalize %></li>
    <li><%= @artwork.width %></li>
    <li><%= @artwork.height %></li>
    <li><%= @artwork.price %> €</li>
  </ul>
  <p> <%= @artwork.year %></p>
  <p> <%= @artwork.description %></p>
</div>


<!-- this is the order button which redirects to the profile page in the bought items -->

<%= simple_form_for [@order] do |f| %>
  <%= f.input_field :artwork_id, value: @artwork.id, as: :hidden%>
  <%= f.button :submit, "Buy me!", class: 'btn' %>
<% end %>



<%= simple_form_for [@favorite_artwork] do |f| %>
  <%= f.input_field :artwork_id, value: @artwork.id, as: :hidden%>
  <%= button_tag do %><i class="far fa-heart"></i><% end %>
<% end %>
