<% current_user.collector.favorite_artworks.each do |fav| %>

<div>
  <h1><%= fav.artwork.name %></h1>
  <p><%= fav.artwork.description %></p>
  <h2><%= fav.artwork.year %></h2>
  <h2><%= fav.artwork.price %></h2>
  <p><%= fav.artwork.width %>, <%= fav.artwork.height %></p>
  <h1><%= fav.artwork.medium.name %></h1>
  <h1><%= fav.artwork.category.name %></h1>
</div>

<% end %>
