<div class="p-2 d-flex flex-wrap align-content-start">
<% current_user.account.orders.each do |order| %>
  <div class="card-order">
    <div class="order-picture">
      <%= cl_image_tag order.artwork.photos.first.key %>
    </div>
    <div class="order-content">
    <h1><%= order.artwork.name %>, <%= order.artwork.year.strftime("%Y") %></h1>
    <h2><%= order.artwork.artist.user.first_name %> <%= order.artwork.artist.user.last_name %></h2>
    <h3><%= order.artwork.price %> €</h3>
    <% if order.status == 0 %>
      <h4 id="await-shipping">Awaiting shipping</h4>
    <% elsif order.status == 1 %>
      <h4 id="shipped">Shipped</h4>
    <% else %>
      <h4 id="fulfilled">Fulfilled</h4>
    <% end %>
    </div>
  </div>
<% end %>
</div>
