
<div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item carousel-background active" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "banner_1_home.png" %>')">
      <div class="carousel-content">
      <h1>Start your own art collection.</h1>
      </div>
    </div>
    <div class="carousel-item carousel-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "banner_2_home.jpg" %>')">
      <div class="carousel-content">
      <h1>Explore our artworks!</h1>
      <%= link_to "Click here", artworks_path, class:"more-info-button" %>
      </div>
    </div>
    <div class="carousel-item carousel-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "banner_3_home.jpg" %>')">
      <div class="carousel-content">
      <h1>Explore our artists!</h1>
      <%= link_to "Click here", artists_path, class:"more-info-button" %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<div class="background-container">

  <div class="container-home">
  <h2 id="titles-home">FEATURED CATEGORIES</h2>
    <!-- insert category card here -->

    <div class="card-container d-flex flex-wrap">
      <div class="overview-element mx-auto">
        <% @categories.each do |category| %>
        <div class="overview-element-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path("#{category.name.downcase}.png") %>')">
        <%= link_to category.name, category_path(category.name)%>
      </div>
      <% end %>
    </div>

  <div class="container">
  <h2 id="titles-home">SHOP BY PRICE</h2>
    <div class="d-flex justify-content-between">
      <div class="overview-element-budget m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('wall1.png') %>')"><%= link_to 'UP TO €500', artworks_path(price_min: 0, price_max: 50000) %></div>
      <div class="overview-element-budget m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('wall2.png') %>')"><%= link_to '€500 - €1000', artworks_path(price_min: 50000, price_max: 100000) %></div>
      <div class="overview-element-budget m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('wall3.png') %>')"><%= link_to '€1000 - €2000', artworks_path(price_min: 100000, price_max: 200000) %></div>
      <div class="overview-element-budget m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('wall4.png') %>')"><%= link_to '€2000 AND MORE', artworks_path(price_min: 200000, price_max: 10000000) %></div>
    </div>
  </div>

  <div class="container">
  <h2 id="titles-home">OUR SELECTED ARTWORKS</h2>
    <div class="card-container d-flex flex-wrap">
      <div class="d-flex flex-wrap">
        <% @samples.each do |artwork| %>
          <%= render "artworks/card", artwork: artwork %>
        <% end %>
      </div>
    </div>

    <h2 id="titles-home">EXPLORE MORE</h2>
    <div class="element-info-container">
    <div class="overview-element-info" id="left-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('more-artworks-img.jpg') %>')"><%= link_to 'Discover More Artworks', artworks_path, class:"more-info-button" %></div>
    <div class="overview-element-info" id="right-info" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path('more-artists-img.jpg') %>')"><%= link_to 'Discover All Our Artists', artists_path, class:"more-info-button" %></div>
  </div>
</div>
</div>
