
<h3>@<%= current_user.username %></h3>
<h3><%= current_user.account.location %></h3>
<h3><%= current_user.account.nationality %></h3>
<h3><%= current_user.account.date_of_birth %></h3>
<div>
<p><%= current_user.account.vita %></p>
</div>
<% if current_user.account.artschool %>
<h3><%= current_user.account.artschool %></h3>
<% end %>

<%= link_to "Update details", edit_user_registration_path %>
