<div class="d-flex">
  <div class="account-collector">
    <div class="account-picture">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, :transformation=>[
  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>200, :crop=>"scale"}] %>
      <% else %>
        <img src='https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png'>
      <% end %>
    </div>
    <div class="account-content">
      <h3 class="name"><%= current_user.first_name %> <%= current_user.last_name %></h3>
      <h4 class="title">@<%= current_user.username %></h4>
    </div>
    <div class="edit-btn">
      <%= link_to "Update details", edit_user_registration_path %>
    </div>
  </div>
  <div class="account-details">
    <h2><i class="fas fa-map-marker-alt"></i>     <%= current_user.account.location %></h2>
    <h2><i class="fas fa-globe"></i>    <%= current_user.account.nationality %></h2>
    <% if current_user.account.date_of_birth %>
      <h2><i class="fas fa-birthday-cake"></i>    <%= current_user.account.date_of_birth %></h2>
    <% end %>
    <% if current_user.account.artschool %>
      <h2><i class="fas fa-graduation-cap"></i>    <%= current_user.account.artschool %></h2>
    <% end %>
    <p><%= current_user.account.vita %></p>
  </div>
</div>
