<h1> <%= @category.name %> </h1>



<div class="card-container d-flex flex-wrap">
  <div class="d-flex flex-wrap">
    <% @category.artworks.each do |artwork| %>
        <%= link_to artist_artwork_path(artwork.artist, artwork) , style: 'text-decoration: none' do%>
        <div class="card-wrapper">
          <div class="card-item">
            <%= image_tag "artwork.png", class:"artwork"%>
          </div>

          <div class="card-info">
            <div class="d-flex justify-content-between">
              <h4 class="artwork-title"><%= artwork.name.capitalize %></h4>
              <h4 class="card-price"><%= artwork.price %> €</h4>
            </div>

            <h4 class="card-dimensions"><%= artwork.medium.name %>, W <%= artwork.width %> cm x H <%= artwork.height %> cm</h4>
            <h4 class="card-artist"><%= artwork.artist.user.first_name %> <%= artwork.artist.user.last_name %></h4>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
